# Configurações do Supabase para desenvolvimento local
SUPABASE_HOST=db.zyjdzpdtuyyerflizikq.supabase.co
SUPABASE_PORT=5432
SUPABASE_USER=postgres
SUPABASE_PASSWORD=dylan@30331007
SUPABASE_DATABASE=postgres

# String de conexão completa:
# postgres://postgres:dylan@30331007@db.zyjdzpdtuyyerflizikq.supabase.co:5432/postgres?sslmode=require

# Ambiente
NODE_ENV=development
