# Configurações do Supabase para desenvolvimento local
SUPABASE_URL=https://ehbbdhwdkwfdfjqhcrsf.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVoYmJkaHdka3dmZGZqcWhjcnNmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY3NTQxOTgsImV4cCI6MjA3MjMzMDE5OH0.G3TdkSjPITZYPOtfivgCOBlsxs2mGiYRVCi8mDwIDI4
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVoYmJkaHdka3dmZGZqcWhjcnNmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY3NTQxOTgsImV4cCI6MjA3MjMzMDE5OH0.G3TdkSjPITZYPOtfivgCOBlsxs2mGiYRVCi8mDwIDI4

# Ambiente
NODE_ENV=development
